@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 247, 247, 247;
  --background-start-rgb: 13, 13, 13;
  --background-end-rgb: 13, 13, 13;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

/* Custom scrollbar for Luxury feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #c6a35b33;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c6a35b66;
}
